<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= @user.image %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <a href="/users/<%= @current_user.id %>/edit">プロフィールの編集 </a>
      <% end %>
    </div>

    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>

    <% @likes.each do |like| %>
      <% post = Post.find_by(id: like.post_id) %>
      <% post_user = User.find_by(id: post.user_id) %>
      <div class="posts-index-item">
        <div class="post-left"><img src="<%= post_user.image %>"></div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post_user.name, "/users/#{post_user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
