<main class="user-show">
  <div class="container">
    <div class="user">
      <img src="<%= @user.image %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <a href="/users/<%= @current_user.id %>/edit">プロフィールの編集 </a>
        <span>|</span>
        <a href="/users/<%= @current_user.id %>/edit_password">パスワードの変更</a>
      <% end %>
    </div>

    <ul class="user-tabs">
      <li><a href="/users/<%= @user.id %>">投稿</a></li>
      <li class="active"><a href="/users/<%= @user.id %>/likes">いいね！</a></li>
    </ul>

    <% @likes.each do |like| %>
      <% post = like.post %>
      <% user = post.user %>
      <div class="posts-index-item">
        <div class="post-left"><img src="<%= user.image %>"></div>
        <div class="post-right">
          <div class="post-user-name">
            <a href="/users/<%= user.id %>">
              <%= user.name %>
            </a>
          </div>
          <a href="/posts/<%= post.id %>">
            <%= post.content %>
          </a>
        </div>
      </div>
    <% end %>
  </div>

</main>
