<div class="users-new">
  <div class="form users-form">
    <div class="form-header">新規ユーザー登録</div>
    <div class="form-body">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>

      <%= form_tag '/users/create' do %>
        <h2>ユーザー名</h2>
        <input name="title" value="<%= @user.name %>">
        <h2>メールアドレス</h2>
        <input name="email" value="<%= @user.email %>">
        <h2>パスワード</h2>
        <input type="password" name="password" value="<%= @user.password %>">
        <input type="submit" value="新規登録">
      <% end %>
    </div>
  </div>
</div>
