<div class="user-show">
  <div class="user">
    <h2>ユーザー名</h2>
    <p><%= @user.name %></p>
    <img src="<%= @user.image %>">
    <h2>メールアドレス</h2>
    <p><%= @user.email %></p>
    <% if @user.id == @current_user.id %>
      <a href="/users/<%= @current_user.id %>/edit">プロフィールの編集</a>
      <a href="/users/<%= @current_user.id %>/edit_password">パスワードの変更</a>
    <% end %>
  </div>
</div>
