<div class="posts-show">
  <div class="posts-show-item">
    <div class="post-user-name">
      <img src="<%= @user.image %>">
      <a href="/users/<%= @user.id %>">
        <%= @user.name %>
      </a>
    </div>
    <p><%= @post.content %><p>
    <div class="post-time"><%= @post.created_at %></div>
    <% if @user.id == @current_user.id %>
      <a href="/posts/<%= @post.id %>/edit">編集</a>
      <%= form_tag "/posts/#{@post.id}/destroy" do %>
        <input type="submit" value="削除">
      <% end %>
    <% end %>
  </div>
</div>
