<!DOCTYPE html>
<html>
  <head>
    <title>TwitterRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/"><img src="/images/wanko_icon.svg"></a>
      </div>
      <ul class="header-menus">
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/posts/index">投稿一覧</a></li>
          <li><a href="/posts/new"><span class="fa fa-edit"></span>新規投稿</a></li>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
